.input-label{
  margin-bottom: 0.4rem;
  color:black;
  font-size: large;
  font-weight: 600;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field{
  width: 25rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border: white;
  color: black;
  font-size: large;
  padding: 0rem 1rem;
}

body{
  /* background-image: linear-gradient(to right, rgb(233, 99, 99) , rgb(245, 190, 72)); */
  /* background-image: linear-gradient(to right, rgb(255, 139, 139) , rgb(255, 212, 120)); */
  background-image: linear-gradient(to right, rgb(255, 212, 120),rgb(255, 139, 139) );




}
.login-button{
  margin: 5rem;
  padding: 1rem 3rem;

}

.flip {
  width: 8rem;
	backface-visibility: visible !important;
	animation: flip 2s ease;
}
.flip:hover{
  animation: flip 3s ease infinite;
}

@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) translateZ(150px) rotateY(170deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) rotateY(360deg) scale(.95);
		animation-timing-function: ease-in;
	}
	100% {
		transform: perspective(400px) scale(1);
		animation-timing-function: ease-in;
	}
}

/* Curvy divider at the bottom */
.custom-shape-divider-bottom-1715904476 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715904476 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 316px;
}

.custom-shape-divider-bottom-1715904476 .shape-fill {
  fill: #ffffff60;

}